@import "./integration/sf-furnace.css";
.system-sfrpg {
  /* tagify integration */
  --tagify-dd-color-primary: var(--sfmod-color-primary);
  --tagify-dd-bg-color: var(--sfmod-color-background);
  /*OneJournal integration */
  --ojLightBorder: 1px solid rgba(0, 0, 0, 0.1);
  --ojBackground: rgba(0, 0, 0, 0.03);
  --ojBackgroundMedium: #86909630;
  --ojBackgroundHeavy: #86909650;
  --ojTextColor: var(--sfmod-text-on-background);
  --ojTextColorContrast: var(--sfmod-text-on-background);
  --ojHeaderAccentBg: rgba(0, 0, 0, 0.25);
  --ojHeaderAccentBgFullscreen: rgba(0, 0, 0, 0.05);
  --ojSidebarWidth: 300px;
  --ojAppHeaderHeight: 30px;
  --ojAccentColor: var(--sfmod-color-primary);
}

/* tagify integration */

.tagify {
  --tags-border-color: var(--sfmod-color-background);
  --tags-hover-border-color: var(--sfmod-color-primary);
  --tags-focus-border-color: var(--sfmod-color-secondary);
  --tag-bg: var(--sfmod-color-primary);
  --tag-hover: var(--sfmod-color-secondary);
  --tag-text-color: var(--sfmod-text-on-primary);
  --tag-text-color--edit: var(--sfmod-text-on-background);
  --tag-invalid-color: var(--sfmod-text-on-error);
  --tag-invalid-bg: var(--sfmod-color-error);
  --tag-remove-bg: var(--sfmod-color-error);
  --tag-remove-btn-bg: none;
  --tag-remove-btn-bg--hover: var(--sfmod-color-error);
  --placeholder-color: var(--sfmod-text-on-background);
}

.system-sfrpg {
  --sfmod-color-surface: var(--sfmod-color-surface-wbr) !important;
}

.sfrpg.sheet .editor-content h2, .system-sfrpg h2, .sfrpg.sheet .editor-content h1, .system-sfrpg h1 {
  color: var(--sfmod-color-primary);
  border-bottom: 1px solid var(--sfmod-color-primary);
}

.sfrpg.sheet .editor-content h3, .sfrpg.sheet .item-summary h3 {
  color: var(--sfmod-color-primary);
}

.system-sfrpg #player-config label {
  color: var(--sfmod-text-on-background);
}

.system-sfrpg input[type="color"] {
  background: var(--sfmod-color-surface);
  border-color: var(--sfmod-border-on-background);
}

.system-sfrpg img {
  border-color: var(--sfmod-border-on-background);
}

.system-sfrpg textarea, .system-sfrpg input[type="text"], .system-sfrpg input[type="number"], .system-sfrpg input[type="password"], .system-sfrpg input[type="date"], .system-sfrpg input[type="time"] {
  color: var(--sfmod-text-on-background);
  background: var(--sfmod-color-background);
  border-color: var(--sfmod-border-on-background-light);
}

.sfrpg.sheet .editor .tox-tinymce {
  background: #ffffff;
}

.sfrpg.sheet.actor .inventory-list .item-controls a, .sfrpg.sheet.actor .crew-list .item-controls a, .sfrpg.sheet.actor .inventory-list .crew-controls a, .sfrpg.sheet.actor .crew-list .crew-controls a {
  color: var(--sfmod-text-on-background-light);
}

.sfrpg.sheet.actor .inventory-list .item-detail, .sfrpg.sheet.actor .crew-list .item-detail, .sfrpg.sheet.actor .inventory-list .crew-detial, .sfrpg.sheet.actor .crew-list .crew-detial {
  color: var(--sfmod-text-on-background-light);
  border-right-color: var(--sfmod-border-on-background);
}

.system-sfrpg #sidebar .sidebar-tab {
  backdrop-filter: blur(var(--sfmod-blur-radius));
  -webkit-backdrop-filter: blur(var(--sfmod-blur-radius));
}

.sfrpg.sheet .window-content {
  border-color: var(--sfmod-color-primary-variant);
}

.sfrpg.sheet.actor .sheet-header .header-background {
  background: var(--sfmod-color-secondary-gradient);
}

.system-sfrpg .window-app .window-header {
  background: var(--sfmod-color-primary-gradient);
}

.sfrpg.sheet .sheet-navigation .item {
  color: var(--sfmod-text-on-primary);
}

.sfrpg.sheet .sheet-navigation .item.active {
  background: var(--sfmod-color-secondary);
  color: var(--sfmod-text-on-secondary);
}

.system-sfrpg .tabs a.item:hover, .system-sfrpg #navigation #scene-list .scene.view, .system-sfrpg #navigation #scene-list .scene.context, .system-sfrpg #controls .scene-control.active, .system-sfrpg #controls .control-tool.active, .system-sfrpg #controls .scene-control:hover, .system-sfrpg #controls .control-tool:hover, .system-sfrpg #sidebar-tabs>.item.active, .system-sfrpg #sidebar-tabs {
  border-color: var(--sfmod-color-secondary);
  border-bottom-color: var(--sfmod-color-secondary-light);
  box-shadow: 0 0 10px var(--sfmod-color-secondary-light);
  background: var(--sfmod-color-surface);
}

.sfrpg.sheet .sheet-navigation .item.active:hover {
  color: var(--sfmod-text-on-secondary) !important;
}

.system-sfrpg #navigation #scene-list .scene.gm {
  border-color: var(--sfmod-color-primary);
  background: var(--sfmod-color-surface);
  border-bottom-color: var(--sfmod-color-primary-light);
  box-shadow: 0 0 10px var(--sfmod-color-primary-light);
}

.system-sfrpg #chat-controls .roll-type-select {
  background: var(--sfmod-color-background);
  color: var(--sfmod-text-on-background)
}

.system-sfrpg #chat-form textarea, .sidebar-tab .directory-header .header-search input {
  background: var(--sfmod-color-background);
  color: var(--sfmod-text-on-background);
}

.system-sfrpg select {
  background: var(--sfmod-color-background) !important;
}

.system-sfrpg a.entity-link, .system-sfrpg a.inline-roll {
  border: 1px solid var(--sfmod-color-primary);
  color: var(--sfmod-color-primary);
}

.system-sfrpg .message-header h4.message-sender {
  color: var(--sfmod-color-primary);
}

.system-sfrpg .chat-message .message-header {
  color: var(--sfmod-text-on-background-light);
}

.system-sfrpg .message-header {
  background-color: transparent;
}

.sfrpg.sheet .window-content, .system-sfrpg .window-app .window-content {
  background: var(--sfmod-color-surface);
  color: var(--sfmod-text-on-background) !important;
  backdrop-filter: blur(var(--sfmod-blur-radius));
  -webkit-backdrop-filter: blur(var(--sfmod-blur-radius));
}

.system-sfrpg #chat-log .message {
  background: var(--sfmod-color-background);
  color: var(--sfmod-text-on-background) !important;
}

.system-sfrpg #chat-log .message .message-content h2 {
  position: unset;
}

.system-sfrpg #module-management .package-list .package-title, .system-sfrpg #module-management .package-list .package-metadata, .system-sfrpg #module-management .package-list .package-description, .sfrpg.sheet.actor .sheet-header .header-background .charname>input {
  color: var(--sfmod-text-on-background);
}

.sfrpg.sheet .sheet-navigation {
  background: var(--sfmod-color-primary-gradient);
}

.system-sfrpg form .form-header, .sfrpg.sheet .sheet-header, .sfrpg button {
  color: var(--sfmod-text-on-background);
}

.sfrpg.sheet .sheet-header .summary li, .sfrpg .form-group label, .sfrpg.chat-card .card-header h3 {
  color: var(--sfmod-text-on-background-light);
}

.sfrpg.sheet.actor .inventory-list .item .item-name .item-action .attack, .sfrpg.sheet.actor .crew-list .item .item-name .item-action .attack, .sfrpg.sheet.actor .vehicle-system-list .item .item-name .item-action .attack, .sfrpg.sheet.actor .inventory-list .crew .item-name .item-action .attack, .sfrpg.sheet.actor .crew-list .crew .item-name .item-action .attack, .sfrpg.sheet.actor .vehicle-system-list .crew .item-name .item-action .attack, .sfrpg.sheet.actor .inventory-list .item .crew-name .item-action .attack, .sfrpg.sheet.actor .crew-list .item .crew-name .item-action .attack, .sfrpg.sheet.actor .vehicle-system-list .item .crew-name .item-action .attack, .sfrpg.sheet.actor .inventory-list .crew .crew-name .item-action .attack, .sfrpg.sheet.actor .crew-list .crew .crew-name .item-action .attack, .sfrpg.sheet.actor .vehicle-system-list .crew .crew-name .item-action .attack {
  width: auto;
  background: #235683;
  color: #fff;
  cursor: pointer;
}

.system-sfrpg a.entity-link, .system-sfrpg a.inline-roll {
  background: none;
}

.system-sfrpg input[type="text"], .system-sfrpg .sidebar-tab .directory-header .header-search input, .system-sfrpg select, .system-sfrpg .gm-screen-app .gm-screen-grid-cell-header select, .sfrpg select, .sfrpg .form-group label, .sfrpg .window-content, .system-sfrpg input[type="text"], .system-sfrpg input[type="number"], .system-sfrpg input[type="password"], .system-sfrpg input[type="date"], .system-sfrpg input[type="time"] {
  color: var(--sfmod-text-on-background) !important;
}

.system-sfrpg input[type="text"]::placeholder, .system-sfrpg #chat-form textarea, .sidebar-tab .directory-header .header-search input::placeholder, .system-sfrpg .sidebar-tab .directory-header .header-search input, form .notes, form .hint {
  color: var(--sfmod-text-on-surface);
}

.system-sfrpg button:hover, .system-sfrpg button:focus {
  box-shadow: 0 0 5px var(--sfmod-color-primary);
  color: var(--sfmod-color-primary);
}

.sfrpg.sheet .editable .rollable:hover, .sfrpg.chat-card .card-header h3:hover {
  text-shadow: 0 0 5px var(--sfmod-color-primary);
  color: var(--sfmod-color-primary-light);
}

.system-sfrpg select:focus, .system-sfrpg textarea:focus, .system-sfrpg textarea:focus, .system-sfrpg input[type="text"]:focus, .system-sfrpg input[type="number"]:focus, .system-sfrpg input[type="password"]:focus, .system-sfrpg input[type="date"]:focus, .system-sfrpg input[type="time"]:focus, .sfrpg input[type="text"]:hover, .sfrpg input[type="text"]:focus {
  box-shadow: 0 0 8px var(--sfmod-color-primary);
  outline: 2px solid var(--sfmod-color-primary-light);
  outline-offset: -2px;
}

.system-sfrpg a:hover {
  text-shadow: 0 0 8px var(--sfmod-color-primary);
  color: var(--sfmod-color-primary-light) !important;
}

.system-sfrpg .tabs .item.active {
  text-shadow: 0 0 10px var(--sfmod-color-secondary);
  color: var(--sfmod-text-on-background);
}

.system-sfrpg .sheet-tabs.tabs .item.active {
  color: var(--sfmod-color-secondary)
}

.system-sfrpg #hotbar .macro.active:hover {
  border: 1px solid var(--sfmod-color-primary-primary);
}

.system-sfrpg #hotbar .macro:hover {
  box-shadow: 0 0 10px var(--sfmod-color-primary-light) inset;
}

#context-menu li.context-item:hover {
  color: var(--sfmod-color-primary);
  text-shadow: 0 0 4px var(--sfmod-color-primary);
}

.system-sfrpg button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove var(--sfmod-text-on-background);
  color: var(--sfmod-text-on-background);
}

.sfrpg.sheet.actor .inventory-filters .currency label, .sfrpg.sheet.actor .inventory-filters h3, .sfrpg.sheet.actor .inventory-filters .filter-title, .sfrpg.sheet.actor.starship .crew-settings h3, .sfrpg.sheet.actor.starship .crew-settings .filter-title {
  color: var(--sfmod-text-on-surface);
}

.sfrpg.sheet .filter-list .filter-item.active, .sfrpg.sheet .sheet-subnavigation .item.active, .system-sfrpg nav.list-filters a.filter.active {
  border-bottom-color: var(--sfmod-color-secondary);
}

.sfrpg.sheet .filter-list .filter-item.active, .sfrpg.sheet .sheet-subnavigation .item.active {
  border-bottom: 3px solid var(--sfmod-color-secondary);
}

.sfrpg.sheet .filter-list .filter-item:hover, .sfrpg.sheet .sheet-subnavigation .item:hover {
  text-shadow: 0 0 4px var(--sfmod-color-secondary);
  border-bottom: 3px solid var(--sfmod-color-secondary-light);
  color: unset !important;
}

.sfrpg.sheet.actor.starship .sheet-body a.critical-edit, .sfrpg.sheet.actor.starship .sheet-body i.fas {
  color: inherit;
}

.system-sfrpg .filepicker .display-modes a.active {
  text-shadow: 0 0 6px var(--sfmod-color-secondary);
  border-color: var(--sfmod-color-secondary);
  background: transparent;
  color: var(--sfmod-color-secondary);
}

.system-sfrpg .filepicker .display-modes a {
  border-color: var(--sfmod-text-on-background);
  background: transparent;
}

.system-sfrpg .filepicker .tabs .item.active {
  text-shadow: 0 0 10px var(--sfmod-color-secondary);
  color: var(--sfmod-color-secondary);
}

/*
sheets borders
*/

.sfrpg.sheet .sheet-header .summary-row2 li, .sfrpg.sheet.actor .counters, .sfrpg.sheet .sheet-header .summary-row1, .sfrpg.sheet .sheet-header .summary-row2, .sfrpg.sheet.actor.drone .ability-scores .ability h4.box-title, .sfrpg.sheet.actor.drone .sheet-header .summary, .sfrpg.sheet.actor.drone .sheet-header .attributes .attribute, .sfrpg.sheet.actor.drone ul.skills-list li.skills-header, .sfrpg.sheet.actor.drone .ability-scores .ability, .sfrpg.sheet.actor.drone .ability-scores .ability .ability-modifiers span.ability-mod, .system-sfrpg .compendium .directory-list .directory-item, .sfrpg.item-browser-window .item-browser .filtercontainer, .sfrpg.item-browser-window .item-browser .sortcontainer, .sfrpg.sheet.actor ul.attributes li.attribute, .sfrpg.sheet.actor.starship .sheet-header .attributes .attribute, .sfrpg.sheet .sheet-header .summary li, .sfrpg.sheet .sheet-header .summary, .sfrpg.sheet.actor.starship .sheet-header .summary, .sfrpg.sheet .sheet-header img.profile, .sfrpg.sheet .sheet-header, .sfrpg.sheet.actor .inventory-list .inventory-header, .sfrpg.sheet.actor .crew-list .inventory-header, .sfrpg.sheet.actor .inventory-list .crew-header, .sfrpg.sheet.actor .crew-list .crew-header, .sfrpg.sheet.actor .inventory-list .item, .sfrpg.sheet.actor .crew-list .item, .sfrpg.sheet.actor .inventory-list .crew, .sfrpg.sheet.actor .crew-list .crew, .sfrpg.sheet.actor.starship .action-list .action-header, .sfrpg.sheet.actor.starship .action-list .action, .sfrpg .form-header, .sfrpg.sheet.actor.character .sheet-header .attributes .attribute, .sfrpg.sheet.actor.character .sheet-header .summary, .sfrpg.sheet.actor.character .ability-scores .ability .ability-header input[type="text"].ability-drain, .sfrpg.sheet.actor.character .ability-scores .ability, .sfrpg.sheet.actor.character .ability-scores .ability .ability-header input[type="text"].ability-penalty, .sfrpg.sheet.actor.character .ability-scores .ability .ability-modifiers input[type="text"].ability-base, .sfrpg.sheet.actor.character .ability-scores .ability .ability-header input[type="text"].ability-damage, .sfrpg.sheet.actor.character .ability-scores .ability .ability-modifiers span.ability-mod, .sfrpg.sheet.actor.character .ability-scores .ability .ability-modifiers input[type="text"].ability-base, .sfrpg.sheet.actor ul.skills-list, .sfrpg.sheet.actor.character ul.skills-list li.skills-header, .sfrpg.sheet.actor .inventory-list .item-detail, .sfrpg.sheet.actor .crew-list .item-detail, .sfrpg.sheet.actor .inventory-list .crew-detial, .sfrpg.sheet.actor .crew-list .crew-detial, .sfrpg.sheet.actor .ability-scores .ability, .sfrpg.sheet.actor ul.attributes.last, .sfrpg.sheet.actor h4.box-title, .sfrpg.sheet.actor.character .ability-scores .ability h4.box-title, .sfrpg.sheet.actor .inventory-list .inventory-header, .sfrpg.sheet.actor .crew-list .inventory-header, .sfrpg.sheet.actor .vehicle-system-list .inventory-header, .sfrpg.sheet.actor .inventory-list .crew-header, .sfrpg.sheet.actor .crew-list .crew-header, .sfrpg.sheet.actor .vehicle-system-list .crew-header, .sfrpg.sheet.actor .inventory-list .item-detail, .sfrpg.sheet.actor .crew-list .item-detail, .sfrpg.sheet.actor .vehicle-system-list .item-detail, .sfrpg.sheet.actor .inventory-list .crew-detial, .sfrpg.sheet.actor .crew-list .crew-detial, .sfrpg.sheet.actor .vehicle-system-list .crew-detial, .sfrpg.sheet.actor .inventory-list .item, .sfrpg.sheet.actor .crew-list .item, .sfrpg.sheet.actor .vehicle-system-list .item, .sfrpg.sheet.actor .inventory-list .crew, .sfrpg.sheet.actor .crew-list .crew, .sfrpg.sheet.actor .vehicle-system-list .crew, .sfrpg.sheet.item .inventory-list .item-detail, .sfrpg.sheet.item .inventory-list .inventory-header, .sfrpg.sheet.item .inventory-list .item {
  border-color: var(--sfmod-border-on-background);
}

.system-sfrpg form .form-group span.units {
  color: var(--sfmod-text-on-surface);
}

.sfrpg.sheet.actor.vehicle .passenger-action .pilotPilotingSkill:hover, .sfrpg.sheet.actor.vehicle .passenger-action .pilotPilotingSkill:focus {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(119deg);
}

.sfrpg.item-browser-window .item-browser li.item:hover {
  background: unset;
  outline: 1px solid var(--sfmod-color-primary);
  color: var(--sfmod-color-primary);
  box-shadow: inset 0 0 6px 0px var(--sfmod-color-primary);
}

.system-sfrpg .tabs a.item:hover {
  color: inherit !important;
  text-shadow: 0 0 8px var(--sfmod-color-secondary);
}

.system-sfrpg .tabs.sheet-navigation a.item:hover {
  box-shadow: inset 0 0 8px var(--sfmod-color-secondary);
  color: inherit !important;
  outline: 1px solid var(--sfmod-color-secondary-light);
  text-shadow: unset;
}

.system-sfrpg #sidebar-tabs.tabs a.item:hover {
  box-shadow: inset 0 0 8px var(--sfmod-color-secondary);
}

.system-sfrpg .sidebar-tab .directory-footer {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.system-sfrpg .sidebar-tab .directory-footer>* {
  flex-grow: 1;
}

.system-sfrpg a.entity-link i, .system-sfrpg a.inline-roll i {
  color: unset;
}

.system-sfrpg .tox.tox-tinymce {
  background: #ffffff;
}

.system-sfrpg .sfrpg.sheet.actor .inventory-filters .currency label.currency-value {
  color: var(--sfmod-text-on-background-light);
}

/* GM Screen integration */

.system-sfrpg .gm-screen-container.window-content.tab.active {
  background: var(--sfmod-color-background);
}

.system-sfrpg .gm-screen-app .gm-screen-actions button, .system-sfrpg .gm-screen-app .gm-screen-actions .meta-actions button {
  color: var(--sfmod-text-on-background);
  background: var(--sfmod-color-surface);
}

/* Token Action HUD integration */

.system-sfrpg .tah-action .active {
  background: var(--sfmod-color-surface);
  box-shadow: 0 0 10px var(--sfmod-color-secondary);
  border: 1px solid var(--sfmod-color-secondary);
  color: var(--sfmod-color-secondary);
}

.system-sfrpg .tah-title-button, .system-sfrpg .tah-action button {
  background: var(--sfmod-color-surface);
  border: 1px solid #000;
  backdrop-filter: blur(var(--sfmod-blur-radius));
  -webkit-backdrop-filter: blur(var(--sfmod-blur-radius));
}

.system-sfrpg .tah-title-button:hover, .system-sfrpg .tah-action button:hover {
  color: var(--sfmod-text-on-background);
  border: 1px solid var(--sfmod-color-primary);
  border-bottom: 1px solid var(--sfmod-color-primary-light);
  box-shadow: 0 0 10px var(--sfmod-color-primary);
}

.system-sfrpg tags.tagify.token-action-hud-taginput {
  background: var(--sfmod-color-background) !important;
  color: var(--sfmod-text-on-background) !important;
  border: 1px solid var(--sfmod-border-on-background-light);
  border-radius: 3px;
  margin: 8px 0;
  overflow: hidden;
}

.system-sfrpg .tagify__tag--editable>div::before {
  background: var(--sfmod-color-surface);
}

.system-sfrpg #context-menu li.context-item {
  backdrop-filter: none;
}

.system-sfrpg #pause h3 {
  text-shadow: 1px 1px 30px #000, 0px 0px 12px var(--sfmod-color-primary), 0px 0px 8px var(--sfmod-color-primary-light), 0px 0px 4px var(--sfmod-color-primary), 0px 0px 2px #000;
}

.system-sfrpg #controls-reference ol.hotkey-list .key {
  background: var(--sfmod-color-background);
  color: var(--sfmod-text-on-background);
}

.system-sfrpg #controls-reference ol.hotkey-list li.gm .key {
  background: var(--sfmod-color-background);
  color: var(--sfmod-color-primary-light);
}

::-webkit-scrollbar-thumb {
  background: var(--sfmod-color-secondary);
  border: 1px solid var(--sfmod-color-secondary-light);
}

:root {
  scrollbar-color: var(--sfmod-color-secondary) #111;
}

::-webkit-slider-thumb {
  background: var(--sfmod-color-secondary) !important;
}

::-moz-range-thumb {
  background: var(--sfmod-color-secondary) !important;
}

.sfrpg.sheet.actor.character .sheet-header .charlevel .xpbar .bar {
  background: var(--sfmod-color-primary);
}

.sfrpg.sheet.actor.character .encumbrance .encumbrance-bar {
  background: var(--sfmod-color-primary);
  border: 1px solid var(--sfmod-color-primary-light);
}

/* DF Chat Enhancements integration */

.system-sfrpg #dfcp-rt-buttons button i {
  color: var(--sfmod-text-on-background);
}

.system-sfrpg #dfcp-rt-buttons button.active {
  background: unset;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=roll].active {
  box-shadow: inset 0 0 8px 4px #26c281;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=gmroll].active {
  box-shadow: inset 0 0 8px 4px #f2ca27;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=blindroll].active {
  box-shadow: inset 0 0 8px 4px #e87e04;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=selfroll].active {
  box-shadow: inset 0 0 8px 4px #e74c3c;
}

.system-sfrpg ::selection {
  color: var(--sfmod-text-on-selection);
  background: var(--sfmod-color-selection);
}

.system-sfrpg ::-moz-selection {
  color: var(--sfmod-text-on-selection);
  background: var(--sfmod-color-selection);
}

/*OneJournal integration */

.system-sfrpg #OneJournalShell.maximized .window-content {
  backdrop-filter: none;
}

.system-sfrpg #client-settings.app.window-app.form #config-tabs .settings-list h2.module-header span .far:before {
  color: var(--sfmod-text-on-surface);
}

/*Furnace integration */

.system-sfrpg .macro-sheet .form-group.command .furnace-macro-command {
  background: #fff;
}

/* Tidy UI integration */

.system-sfrpg #client-settings #config-tabs div.tab[data-tab="modules"] #searchField #searchInput::placeholder {
  color: var(--sfmod-text-on-surface);
}

/* END */