@import "../main.css";
.system-sfrpg {
  --sfmod-color-primary: #45afeb;
  --sfmod-color-primary-light: #5fc4ff;
  --sfmod-color-primary-variant: #1d4e8c;
  --sfmod-color-primary-gradient: linear-gradient(25deg, #1d4e8c 0%, #45afeb 40%, #2b6abb 60%, #1d4e8c 100%);
  --sfmod-color-secondary: #f49045;
  --sfmod-color-secondary-light: #efa26b;
  --sfmod-color-secondary-gradient: linear-gradient(25deg, #bd6e33 0%, #f49045 40%, #b74706 60%, #692600 100%);
  --sfmod-color-selection: #5fc4ffcc;
  --sfmod-color-error: #C52611;
  --sfmod-color-surface: #121212;
  --sfmod-color-surface-wbr: rgba(18, 18, 18, var(--sfmod-config-background-alpha));
  --sfmod-color-background: #121212;
  --sfmod-text-on-background: #ffffff;
  --sfmod-text-on-primary: #ffffff;
  --sfmod-text-on-secondary: #ffffff;
  --sfmod-text-on-background-light: #eaeaea;
  --sfmod-text-on-error: #ffffff;
  --sfmod-text-on-surface: #869096;
  --sfmod-text-on-selection: #ffffff;
  --sfmod-border-on-backgound: #475258;
  --sfmod-border-on-backgound-light: #7a7971;
}