@import "../main.css";
.system-sfrpg {
  --sfmod-color-primary: #FFCC00;
  --sfmod-color-primary-light: #FFDB4D;
  --sfmod-color-primary-variant: #806600;
  --sfmod-color-primary-gradient: linear-gradient(25deg, #806600 0%, #f8d136 40%, #FFCC00 60%, #806600 100%);
  --sfmod-color-secondary: #FFDB4D;
  --sfmod-color-secondary-light: #fce27a;
  --sfmod-color-secondary-gradient: linear-gradient(25deg, #000e02 0%, #FFDB4D 40%, #FFCC00 60%, #000e02 100%);
  --sfmod-color-selection: #FFCC00;
  --sfmod-color-error: #C52611;
  --sfmod-color-surface: #070601;
  --sfmod-color-surface-wbr: rgba(36, 29, 0, var(--sfmod-config-background-alpha));
  --sfmod-color-background: rgb(36, 29, 0);
  --sfmod-text-on-background: #fff8db;
  --sfmod-text-on-primary: #241d00;
  --sfmod-text-on-secondary: #241d00;
  --sfmod-text-on-background-light: #fff8db;
  --sfmod-text-on-error: #fff8db;
  --sfmod-text-on-surface: #FFDB4D;
  --sfmod-text-on-selection: #ffffff;
  --sfmod-border-on-backgound: #806600;
  --sfmod-border-on-backgound-light: #a58401;
}