@import "../main.css";
.system-sfrpg {
  --sfmod-color-primary: #c7aa05;
  --sfmod-color-primary-light: #eecd3d;
  --sfmod-color-primary-variant: #685811;
  --sfmod-color-primary-gradient: linear-gradient(25deg, #685811 0%, #eecd3d 40%, #c7aa05 60%, #685811 100%);
  --sfmod-color-secondary: #ffa600;
  --sfmod-color-secondary-light: #9e7504;
  --sfmod-color-secondary-gradient: linear-gradient(25deg, #9e7504 0%, #ffa600 40%, #8d5d04 60%, #9e7504 100%);
  --sfmod-color-selection: #c7aa05;
  --sfmod-color-error: #C52611;
  --sfmod-color-surface: #332609;
  --sfmod-color-surface-wbr: rgba(19, 11, 2, var(--sfmod-config-background-alpha));
  --sfmod-color-background: rgb(19, 11, 2);
  --sfmod-text-on-background: #ffffff;
  --sfmod-text-on-primary: #ffffff;
  --sfmod-text-on-secondary: #332500;
  --sfmod-text-on-background-light: #d8d3be;
  --sfmod-text-on-error: #ffffff;
  --sfmod-text-on-surface: #ab967a;
  --sfmod-text-on-selection: #ffffff;
  --sfmod-border-on-backgound: #beb391;
  --sfmod-border-on-backgound-light: #a09e89;
}