@import "../main.css";
.system-sfrpg {
  --sfmod-color-primary: #00ffff;
  --sfmod-color-primary-light: #a7ffff;
  --sfmod-color-primary-variant: #58cfcf;
  --sfmod-color-primary-gradient: linear-gradient(25deg, #00a3a3 0%, #02c4c4 40%, #00eeee 60%, #00a3a3 100%);
  --sfmod-color-secondary: #00d9ff;
  --sfmod-color-secondary-light: #047f9e;
  --sfmod-color-secondary-gradient: linear-gradient(25deg, #006161 0%, #02c4c4 40%, #00eeee 60%, #006161 100%);
  --sfmod-color-selection: #00ffff;
  --sfmod-color-error: #C52611;
  --sfmod-color-surface: #091833;
  --sfmod-color-surface-wbr: rgba(3, 24, 27, var(--sfmod-config-background-alpha));
  --sfmod-color-background: rgb(3, 24, 27);
  --sfmod-text-on-background: #ffffff;
  --sfmod-text-on-primary: #000000;
  --sfmod-text-on-secondary: #ffffff;
  --sfmod-text-on-background-light: #bed4d8;
  --sfmod-text-on-error: #ffffff;
  --sfmod-text-on-surface: #7aa5ab;
  --sfmod-text-on-selection: #ffffff;
  --sfmod-border-on-backgound: #91bebc;
  --sfmod-border-on-backgound-light: #899ca0;
}