@import "../main.css";
.system-sfrpg {
  --sfmod-color-primary: #0891CC;
  --sfmod-color-primary-light: #09B4FF;
  --sfmod-color-primary-variant: #2B6680;
  --sfmod-color-primary-gradient: linear-gradient(25deg, #2B6680 0%, #0891CC 40%, #09B4FF 60%, #2B6680 100%);
  --sfmod-color-secondary: #57CDFF;
  --sfmod-color-secondary-light: #75d1f8;
  --sfmod-color-secondary-gradient: linear-gradient(25deg, #000d0e 0%, #055B80 40%, #75d1f8 60%, #000d0e 100%);
  --sfmod-color-selection: #09B4FF;
  --sfmod-color-error: #C52611;
  --sfmod-color-surface: #001822;
  --sfmod-color-surface-wbr: rgba(0, 24, 34, var(--sfmod-config-background-alpha));
  --sfmod-color-background: rgb(0, 24, 34);
  --sfmod-text-on-background: #a8def5;
  --sfmod-text-on-primary: #cbe9f7;
  --sfmod-text-on-secondary: #001822;
  --sfmod-text-on-background-light: #75d1f8;
  --sfmod-text-on-error: #cfe6f0;
  --sfmod-text-on-surface: #57CDFF;
  --sfmod-text-on-selection: #ffffff;
  --sfmod-border-on-backgound: #3a8bad;
  --sfmod-border-on-backgound-light: #3a8bad;
}