@import "../main.css";
.system-sfrpg {
  --sfmod-color-primary: #39C21D;
  --sfmod-color-primary-light: #4AF626;
  --sfmod-color-primary-variant: #407535;
  --sfmod-color-primary-gradient: linear-gradient(25deg, #407535 0%, #39C21D 40%, #4AF626 60%, #407535 100%);
  --sfmod-color-secondary: #86F76F;
  --sfmod-color-secondary-light: #d6ffce;
  --sfmod-color-secondary-gradient: linear-gradient(25deg, #000e02 0%, #227512 40%, #86F76F 60%, #000e02 100%);
  --sfmod-color-selection: #4AF626;
  --sfmod-color-error: #C52611;
  --sfmod-color-surface: #091833;
  --sfmod-color-surface-wbr: rgba(0, 10, 0, var(--sfmod-config-background-alpha));
  --sfmod-color-background: rgb(0, 10, 0);
  --sfmod-text-on-background: #c8fbbd;
  --sfmod-text-on-primary: #0a3f00;
  --sfmod-text-on-secondary: #0a3f00;
  --sfmod-text-on-background-light: #eeffee;
  --sfmod-text-on-error: #eeffee;
  --sfmod-text-on-surface: #4AF626;
  --sfmod-text-on-selection: #ffffff;
  --sfmod-border-on-backgound: #0a3f00;
  --sfmod-border-on-backgound-light: #188801;
}