:root {
    --sfmod: "active";
}

/* UI fixes */
.sfrpg.sheet.actor .inventory-list .item .item-name .item-image,
.sfrpg.sheet.actor .crew-list .item .item-name .item-image,
.sfrpg.sheet.actor .vehicle-system-list .item .item-name .item-image,
.sfrpg.sheet.actor .inventory-list .crew .item-name .item-image,
.sfrpg.sheet.actor .crew-list .crew .item-name .item-image,
.sfrpg.sheet.actor .vehicle-system-list .crew .item-name .item-image,
.sfrpg.sheet.actor .inventory-list .item .crew-name .item-image,
.sfrpg.sheet.actor .crew-list .item .crew-name .item-image,
.sfrpg.sheet.actor .vehicle-system-list .item .crew-name .item-image,
.sfrpg.sheet.actor .inventory-list .crew .crew-name .item-image,
.sfrpg.sheet.actor .crew-list .crew .crew-name .item-image,
.sfrpg.sheet.actor .vehicle-system-list .crew .crew-name .item-image,
.sfrpg.sheet.actor .inventory-list .item .item-name .crew-image,
.sfrpg.sheet.actor .crew-list .item .item-name .crew-image,
.sfrpg.sheet.actor .vehicle-system-list .item .item-name .crew-image,
.sfrpg.sheet.actor .inventory-list .crew .item-name .crew-image,
.sfrpg.sheet.actor .crew-list .crew .item-name .crew-image,
.sfrpg.sheet.actor .vehicle-system-list .crew .item-name .crew-image,
.sfrpg.sheet.actor .inventory-list .item .crew-name .crew-image,
.sfrpg.sheet.actor .crew-list .item .crew-name .crew-image,
.sfrpg.sheet.actor .vehicle-system-list .item .crew-name .crew-image,
.sfrpg.sheet.actor .inventory-list .crew .crew-name .crew-image,
.sfrpg.sheet.actor .crew-list .crew .crew-name .crew-image,
.sfrpg.sheet.actor .vehicle-system-list .crew .crew-name .crew-image {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.sfrpg.sheet.actor .inventory-list .item-detail,
.sfrpg.sheet.actor .crew-list .item-detail,
.sfrpg.sheet.actor .vehicle-system-list .item-detail,
.sfrpg.sheet.actor .inventory-list .crew-detial,
.sfrpg.sheet.actor .crew-list .crew-detial,
.sfrpg.sheet.actor .vehicle-system-list .crew-detial {
    display: flex;
    justify-content: center;
    line-height: 14px;
    flex-direction: row;
    flex-wrap: nowrap;
    letter-spacing: -0.5px;
    align-items: center;
}

.sfrpg.chat-card .card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.sfrpg.chat-card .card-header .action-img+.flexcol {
    overflow: hidden;
    position: relative;
}

.sfrpg.chat-card .card-header .action-img+.flexcol .item-name {
    font-size: 17px;
}

.sfrpg.chat-card .card-header .action-img+.flexcol .item-name:hover {
    letter-spacing: -1px;
}

.sfrpg.sheet.actor .spell-slots.fit-classes,
.sfrpg.sheet.actor .spell-comps.fit-classes {
    width: auto;
    text-align: right;
    flex-grow: 1;
}

.system-sfrpg .macro-sheet textarea {
    background: #fff !important;
}
.system-sfrpg .sfrpg.sheet.actor .inventory-list .item .item-name h4,
.system-sfrpg .sfrpg.sheet.actor .crew-list .item .item-name h4,
.system-sfrpg .sfrpg.sheet.actor .vehicle-system-list .item .item-name h4,
.system-sfrpg .sfrpg.sheet.actor .inventory-list .crew .item-name h4,
.system-sfrpg .sfrpg.sheet.actor .crew-list .crew .item-name h4,
.system-sfrpg .sfrpg.sheet.actor .vehicle-system-list .crew .item-name h4,
.system-sfrpg .sfrpg.sheet.actor .inventory-list .item .crew-name h4,
.system-sfrpg .sfrpg.sheet.actor .crew-list .item .crew-name h4,
.system-sfrpg .sfrpg.sheet.actor .vehicle-system-list .item .crew-name h4,
.system-sfrpg .sfrpg.sheet.actor .inventory-list .crew .crew-name h4,
.system-sfrpg .sfrpg.sheet.actor .crew-list .crew .crew-name h4,
.system-sfrpg .sfrpg.sheet.actor .vehicle-system-list .crew .crew-name h4 {
    line-height: 1.1em;
    margin: 0;
    align-self: center;
}
/* compact mode ========================================================= */
.system-sfrpg.compact #compendium li.compendium-pack {
    line-height: 10px;
}
.system-sfrpg.compact .directory .directory-list .directory-item h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1em;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.system-sfrpg.compact #compendium li.compendium-pack .compendium-footer {
    font-size: 13px;
    font-variant: all-small-caps;
    padding-left: 22px;
}

.system-sfrpg.compact #compendium li.compendium-pack .status-icons {
    top: 5px;
}

.system-sfrpg.compact #compendium h3 {
    background: var(--sfmod-color-background);
    color: var(--sfmod-text-on-background-light);
    font-size: 1.1em;
    text-transform: uppercase;
}

.system-sfrpg.compact #compendium li.compendium-pack .pack-title i {
    margin-right: 3px;
    font-size: 0.8em;
    width: 13px;
}

.system-sfrpg.compact #compendium li[data-open="1"].compendium-pack .pack-title i.folder {
    color: var(--sfmod-color-primary-light);
}

.system-sfrpg.compact .compendium .directory-list .directory-item {
    line-height: 35px;
    word-spacing: -1px;
    height: 35px;
    border-top: none;
}

.system-sfrpg.compact .compendium .directory-list .directory-item img {
    height: 34px;
    width: 34px;
    flex: 0 0 34px;
    margin: 0 5px 0 0
}