/* DF Chat Enhancements integration */

.system-sfrpg #dfcp-rt-buttons button i {
    color: var(--sfmod-text-on-background);
}

.system-sfrpg #dfcp-rt-buttons button.active {
    background: unset;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=roll].active {
    box-shadow: inset 0 0 8px 4px #26c281;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=gmroll].active {
    box-shadow: inset 0 0 8px 4px #f2ca27;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=blindroll].active {
    box-shadow: inset 0 0 8px 4px #e87e04;
}

.system-sfrpg #dfcp-rt-buttons button[data-id=selfroll].active {
    box-shadow: inset 0 0 8px 4px #e74c3c;
}

.system-sfrpg .chat-card-custom .chat-card-custom-item p span {
    color: var(--sfmod-text-on-background);
}

.system-sfrpg .tox .tox-dialog {
    background-color: var(--sfmod-color-background);
    border-color: var(--sfmod-border-on-background);
}

.system-sfrpg .tox .tox-dialog__header {
    background: var(--sfmod-color-primary-gradient);
    color: var(--sfmod-text-on-primary);
    padding-top: 4px;
    padding-bottom: 4px;
}

.system-sfrpg .tox .tox-button--naked {
    color: var(--sfmod-text-on-background)
}

.system-sfrpg .tox .tox-button--naked.tox-button--icon:hover:not(:disabled) {
    border-color: var(--sfmod-color-secondary);
    border-bottom-color: var(--sfmod-color-secondary-light);
    box-shadow: 0 0 10px var(--sfmod-color-secondary-light);
    background: var(--sfmod-color-surface);
}

.system-sfrpg .tox .tox-listboxfield .tox-listbox--select,
.system-sfrpg .tox .tox-textarea,
.system-sfrpg .tox .tox-textfield,
.system-sfrpg .tox .tox-toolbar-textfield {
    color: var(--sfmod-text-on-background) !important;
    background: var(--sfmod-color-background) !important;
    border-color: var(--sfmod-border-on-background-light) !important;
}

.system-sfrpg .tox .tox-label,
.system-sfrpg .tox .tox-toolbar-label {
    color: var(--sfmod-color-primary)
}

.system-sfrpg .tox .tox-dialog__footer {
    background-color: var(--sfmod-color-background);
    border-color: var(--sfmod-border-on-background);
}

.system-sfrpg ::selection {
    color: var(--sfmod-text-on-selection);
    background: var(--sfmod-color-selection);
}

.system-sfrpg ::-moz-selection {
    color: var(--sfmod-text-on-selection);
    background: var(--sfmod-color-selection);
}